---
import { Image } from "astro:assets";
import { CalendarDaysIcon } from "lucide-react";

import type { CollectionEntry } from "astro:content";

import AuthorInfo from "@/components/Blog/AuthorInfo.astro";
import ShareButtons from "@/components/Blog/ShareButtons.astro";
import TableOfContents from "@/components/Blog/TableOfContents";
import { formatDate } from "@/lib/utils";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<div class="py-16 px-2">
  <div class="grid grid-cols-12 gap-8 md:px-8">
    {/* SNS共有ボタン - PC左サイド */}
    <aside class="hidden md:col-span-2 md:block">
      <div class="sticky top-20">
        <ShareButtons title={post.data.title} />
      </div>
    </aside>

    {/* 記事コンテンツ */}
    <main class="col-span-12 md:col-span-7">
      <article class="prose dark:prose-invert max-w-none">
        {/* タイトル */}
        <h1 class="text-3xl border-b-4 pb-2">
          {post.data.title}
        </h1>

        {/* 投稿日 */}
        <div class="flex items-center gap-2 text-muted-foreground">
          <CalendarDaysIcon size={16} />
          <time datetime={post.data.pubDate.toISOString()}>
            {formatDate(post.data.pubDate)}
          </time>
        </div>

        {/* トップ画像 */}
        {
          post.data.topImage && (
            <Image
              class="w-full h-auto rounded-lg mb-8"
              src={post.data.topImage}
              alt={post.data.title}
              width={1280}
              height={720}
            />
          )
        }

        {/* モバイル用目次 */}
        <div class="md:hidden mb-8">
          <TableOfContents client:load headings={headings} isMobile={true} />
        </div>

        {/* 記事本文 */}
        <Content />
      </article>
      <div class="mt-12 mb-8">
        <AuthorInfo />
      </div>
      <div
        class="md:hidden mt-8 p-6 border-4 border-card-foreground bg-card sm:shadow-[8px_8px_0_0]"
      >
        <div class="flex flex-wrap items-center gap-4">
          <ShareButtons title={post.data.title} />
        </div>
      </div>
    </main>
    {/* 目次 - PC右サイド */}
    <aside class="hidden md:col-span-3 md:block">
      <div class="sticky top-20">
        <TableOfContents client:load headings={headings} />
      </div>
    </aside>
  </div>
</div>
